<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header>

        <nav class="navbar container navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/slider_screen.png" alt="idea">iDeaHub</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Проект</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>

                <div id="header-bell">
                    <button class="btn btn-outline-primary"><i class="fa fa-bell" aria-hidden="true"></i></button>
                </div>
                <a href="#" class="btn btn-outline-primary">Войти</a>
            </div>
        </nav>
    </header>
    <main id="project">
        <div class="jumbotron">
            <h2 class="display-4">Курсовой проект 2ой четверти</h2>
            <hr class="jumbotron-hr">
            <p class="lead">Нам необходимо выбрать идею курсового проекта</p>
        </div>
        <div id="project-menu">
            <button class="btn btn-success">Добавить идею</button>
            <button class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                Участники <span class="badge badge-default">9</span>
            </button>
        </div>
        <div id="tasks" class="card-group">
            <div class="card task" id="brainstorming-card">
                <div class="card-header"></div>
                <div class="card-body">
                    <h4 class="card-title">Мозговой штурм</h4>
                    <div class="card-text">
                        <ul>
                            <li>Главное — количество идей. Не делайте никаких ограничений</li>
                            <li>Не критекуйте идеи</li>
                            <li>Необычные и даже абсурдные идеи приветствуются</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer"></div>

            </div>
            <div class="card task" id="discussion-card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Обсуждение</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos exercitationem fugiat ratione.
                        Dicta ducimus et ipsum labore officiis quasi quia repudiandae sapiente vitae voluptas. Accusamus
                        at autem odit ratione.
                    </p>

                </div>
                <div class="card-footer"></div>
            </div>
            <div class="card task" id="vote-card">
                <div class="card-header bg-success">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Голосование</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi
                        assumenda, atque aut, beatae eaque fuga fugiy.
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div id="ideas">
            <div class="card idea">
                <div class="card-header justify-content-between">
                    <a class="card-creator" href="#"><img src="img/avatar.jpg" alt="idea">Константин</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                <a class="nav-link active" id="v-pills-idea-first-tab" data-toggle="pill"
                                   href="#v-pills-idea-first"
                                   role="tab" aria-controls="v-pills-idea-first" aria-expanded="true">Название
                                    проекта</a>
                                <a class="nav-link" id="v-pills-idea-second-tab" data-toggle="pill"
                                   href="#v-pills-idea-second"
                                   role="tab" aria-controls="v-pills-idea-second" aria-expanded="true">Описание</a>
                                <a class="nav-link" id="v-pills-idea-third-tab" data-toggle="pill"
                                   href="#v-pills-idea-third"
                                   role="tab" aria-controls="v-pills-idea-third" aria-expanded="true">Функционал для
                                    реализации</a>
                                <a class="nav-link" id="v-pills-idea-fourth-tab" data-toggle="pill"
                                   href="#v-pills-idea-fourth"
                                   role="tab" aria-controls="v-pills-fourth" aria-expanded="true">Предлагаемые
                                    технологии</a>
                                <a class="nav-link" id="v-pills-idea-fifth-tab" data-toggle="pill"
                                   href="#v-pills-idea-fifth"
                                   role="tab" aria-controls="v-pills-fifth" aria-expanded="true">Аналоги</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-idea-first" role="tabpanel"
                                     aria-labelledby="v-pills-idea-first-tab">Парсер CDR Asterisk c веб-доступом
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-second" role="tabpanel"
                                     aria-labelledby="v-pills-idea-second-tab">АТС на базе ПО Asterisk складывает логи
                                    обработаных вызовов в БД, предлагаю написать сервис для удобного их просмотра
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-third" role="tabpanel"
                                     aria-labelledby="v-pills-idea-third-tab">
                                    <ol>
                                        <li>Авторизация</li>
                                        <li>Авторизация с телефона</li>
                                        <li>Просмотр звонков за период</li>
                                        <li>Просмотр звонков с фильтрами по номерам/длительности/статусу</li>
                                        <li>Отдельный фильтр по направлениям (внутренние,
                                            город/межгород/сотовые/международные)
                                        </li>
                                        <li>Предоставление данных в виде диаграмм и графиков, подсчет средней
                                            статистики,
                                            анализ данных
                                        </li>
                                        <li>Вывод данных в виде отчетного документа</li>
                                        <li>Примерная стоимость звонков</li>
                                        <li>Вывод баланса из сторонних источников(баланса у провайдера например)</li>
                                        <li>Возможность коментировать вызовы, и направления/номера(сопоставление с
                                            телефонной книжкой)
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-fourth" role="tabpanel"
                                     aria-labelledby="v-pills-idea-fourth-tab">php, mysql, html/css, js и его фрэймворки
                                    по
                                    построению различных таблиц и диаграмм
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-fifth" role="tabpanel"
                                     aria-labelledby="v-pills-idea-fifth-tab">
                                    http://prog-it.github.io/Asterisk-CDR-Viewer-Mod/
                                    http://www.asternic.net/demo/index.php?user=demo&password=demo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card idea">
                <div class="card-header justify-content-between">
                    <a class="card-creator" href="#"><img src="img/avatar.jpg" alt="idea">Константин</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab1" role="tablist">
                                <a class="nav-link active" id="v-pills-idea-first-tab1" data-toggle="pill"
                                   href="#v-pills-idea-first1"
                                   role="tab" aria-controls="v-pills-idea-first1" aria-expanded="true">Название
                                    проекта</a>
                                <a class="nav-link" id="v-pills-idea-second-tab1" data-toggle="pill"
                                   href="#v-pills-idea-second1"
                                   role="tab" aria-controls="v-pills-idea-second1" aria-expanded="true">Описание</a>
                                <a class="nav-link" id="v-pills-idea-third-tab1" data-toggle="pill"
                                   href="#v-pills-idea-third1"
                                   role="tab" aria-controls="v-pills-idea-third1" aria-expanded="true">Функционал для
                                    реализации</a>
                                <a class="nav-link" id="v-pills-idea-fourth-tab1" data-toggle="pill"
                                   href="#v-pills-idea-fourth1"
                                   role="tab" aria-controls="v-pills-fourth1" aria-expanded="true">Предлагаемые
                                    технологии</a>
                                <a class="nav-link" id="v-pills-idea-fifth-tab1" data-toggle="pill"
                                   href="#v-pills-idea-fifth1"
                                   role="tab" aria-controls="v-pills-fifth1" aria-expanded="true">Аналоги</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent1">
                                <div class="tab-pane fade show active" id="v-pills-idea-first1" role="tabpanel"
                                     aria-labelledby="v-pills-idea-first-tab1">Парсер CDR Asterisk c веб-доступом
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-second1" role="tabpanel"
                                     aria-labelledby="v-pills-idea-second-tab1">АТС на базе ПО Asterisk складывает логи
                                    обработаных вызовов в БД, предлагаю написать сервис для удобного их просмотра
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-third1" role="tabpanel"
                                     aria-labelledby="v-pills-idea-third-tab1">
                                    <ol>
                                        <li>Авторизация</li>
                                        <li>Авторизация с телефона</li>
                                        <li>Просмотр звонков за период</li>
                                        <li>Просмотр звонков с фильтрами по номерам/длительности/статусу</li>
                                        <li>Отдельный фильтр по направлениям (внутренние,
                                            город/межгород/сотовые/международные)
                                        </li>
                                        <li>Предоставление данных в виде диаграмм и графиков, подсчет средней
                                            статистики,
                                            анализ данных
                                        </li>
                                        <li>Вывод данных в виде отчетного документа</li>
                                        <li>Примерная стоимость звонков</li>
                                        <li>Вывод баланса из сторонних источников(баланса у провайдера например)</li>
                                        <li>Возможность коментировать вызовы, и направления/номера(сопоставление с
                                            телефонной книжкой)
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-fourth1" role="tabpanel"
                                     aria-labelledby="v-pills-idea-fourth-tab1">php, mysql, html/css, js и его фрэймворки
                                    по
                                    построению различных таблиц и диаграмм
                                </div>
                                <div class="tab-pane fade" id="v-pills-idea-fifth1" role="tabpanel"
                                     aria-labelledby="v-pills-idea-fifth-tab1">
                                    http://prog-it.github.io/Asterisk-CDR-Viewer-Mod/
                                    http://www.asternic.net/demo/index.php?user=demo&password=demo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</div>
</body>
</html>