@import "variables";
header {
	background-color: #f8f9fa;
	.navbar {
		height:80px;
		&>div {
			display: flex;
		}
		.navbar-brand {
			img {
				height: 40px;
			}
		}
	}
}

#header-bell {
	.btn {
		border-color: transparent;
	}
}
