<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>



<div  class="callbacks_container">

            <div class="banner1">
                <div class="container">

                    <div class="top-nav wow fadeInDownBig animated" data-wow-delay=".5s">
                        <span class="menu wow fadeInDownBig animated" data-wow-delay=".5s">Menu</span>
                        <ul class="nav1">
                            <li class="active"><a href="index.html">Придумай <br> проект</a></li>
                            <li><a href="#" class="scroll">Собери <br> команду</a></li>
                            <li><a href="#" class="scroll">Распредели <br> задачи</a></li>
                            <li><a href="#" class="scroll">?????</a></li>
                            <li><a href="#" class="scroll">Profit!</a></li>
                        </ul>

                    </div>


                    <div class="banner-info">
                        <h3>IdeaHub</h3>
                        <p>Необходимо записать идеи для проекта и обсудить их с другими людьми? Жми конпку &quot;Начать&quot;</p>
                    </div>
                    <div class="bubble-effect text-center"><a  href="" class=" hvr-bubble-float-top scroll">НАЧАТЬ!</a></div>
                </div>
            </div>

<div class="clearfix"></div>
</div>

</body>
</html>