.container-fluid {
  padding: 0; }


.btn {
  cursor: pointer; }

header {
  background-color: #f8f9fa; }
    header .navbar .navbar-brand img {
      height: 40px;
    }
    header .navbar .navbar-brand {
      padding:0;
      line-height:44px;
      vertical-align:bottom;
    }

#header-bell .btn {
  border-color: transparent; }

main {
  padding-top: 40px; }

.col-md-4 {
  height: 230px; }

.user-name {
  font-size: 30px;
  padding: 15px 10px; }

.tab-pane h4 {
  padding-top: 10px; }

.projects-tab {
  border-bottom: 1px solid #E9ECF1;
  padding-bottom: 10px; }

.project-name {
  font-size: 20px;
  padding: 10px 5px 5px; }

.invite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  height: 50px; }

#settings-tab form .btn {
  margin-top: 10px; }

